<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= summary.title %></title>
    <link rel="alternate" type="application/rss+xml" href="<%= rss_url %>">
  </head>
  <body>
    <h1><%= summary.title %></h1>
    <p><a href="<%= rss_url %>">Podcast RSS feed</a></p>
  </body>
</html>
